@charset "utf-8";

*{margin: 0; padding: 0;}
.cf:after{content: ""; display: block; clear: both;}
body{color: #333;}
li{list-style: none;}
a{
    text-decoration: none;
    color: inherit;
    display: block;
}
img{border: 0; display: block;}

header{
    height: 100px;
    background: darkgoldenrod;
}
#header{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    background: khaki;
}
.logo{
    width: 200px;
    float: left;
    padding: 25px 0;
}
.logo img{width: 100%;}

nav{
    width: 1000px;
    height: 100px;
    float: left;
}
.menu{width: 600px;}
.menu li{width: 150px; float: left;}
.menu a{
    line-height: 40px;
    text-align: center;
    background: gray;
    color: white;
}