@charset "utf-8";

*{margin: 0; padding: 0;}
.cf:after{content: ""; display: block; clear: both;}
body{color: #333;}
#wrap{
    width: 1200px;
    margin: 0 auto;
    
    height: 700px;
}
li{list-style: none;}
a{
    text-decoration: none;
    color: inherit;
    display: block;
}
img{display: block; border: 0;}

/* header */

.logo{
    width: 200px;
    padding: 30px 0;
    background: lightblue;
    float: left;
}
nav{
    width: 1000px;
    float: left;
    background: lightcyan;
    height: 100px;
}
.menu{
    position: relative;
    top: 60px;
    left: 380px;
    width: 600px;
    z-index: 2;
}
.menu li{
    width: 150px;
    float: left;
}
.menu a{
    background: lime;
    line-height: 40px;
    text-align: center;
    transition: 0.3s;
}
/* .menu li:hover >a{background: yellow;} */
.menu>li:hover>a{
    background: yellow;
}
.sub>li:hover>a{
    background: coral;
} /* 메뉴와 서브의 호버 색을 다르게 지정 */
.sub{
    display: none;
    
}
.sub a{
    background: limegreen;
}
header{
    position: relative; /* nav_back을 감싸준다. */
}
.nav_back{
    background: chartreuse;
    height: 150px;
    z-index: 1;
    display: none;
    position: absolute;
    top: 100px;
    width: 100%;
}
/* slide */
#slide{
    height: 300px;
    overflow: hidden;
}
#slide ul{
    width: 4800px;
    animation: slide 9s infinite;
}
#slide li{float: left;}
@keyframes slide{
    0%{margin-left: 0;}
    33%{margin-left: -1200px;}
    66%{margin-left: -2400px;}
    100%{margin-left: -3600px;}
}
/* content */
#content{height: 200px;}

section{
    padding: 10px;
    width: 380px;
    height: 180px;
    float: left;
    background:turquoise;
}
.tap li{
    float: left;
    width: 150px;
}
.tap a{
    background: skyblue;
    text-align: center;
    line-height: 30px;
}
.notice{
    background: dodgerblue;
    float: left;
    
}
.notice a{
    transition:0.3s;
    height: 25px;
    padding: 0 10px; /* 380 - 20 */
    line-height: 25px;
}
.notice a:hover{background: gold;}
.notice span{
    float: left;
    
    display: block;
}
.notice span:nth-child(1){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(260px - 20px);
}
.notice span:nth-child(2){
    text-align: right;
    width: calc(120px - 20px);
}
/* .subject{
    width: 260px;
    float: left;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.date{
    width: 100px;
    float: left;
    text-align: right;
}  span 안쓰고 변수로 지정 시*/
.gallery img{
    width: 100px;
    padding: 30px 10px;
}
.gallery{
    background: aqua;
    float: left;
    
}
.gallery li{
    float: left;
}
.gallery a{
    transition: 0.3s;
}
.gallery a:hover{opacity: .6;}
.title{
    width: 380px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid gray;
}
.banner_img img{
    width: 100px;
}
.banner_img{
    width: 100px; height: 100px;
    padding: 20px;
    float: left;
}
.banner_text{
    width: calc(240px - 40px);
    height: calc(140px - 40px);
    float: left;
    padding: 20px;
}
.banner:hover{background: steelblue;}
.donate{
    text-align: center;
    line-height: 40px;
}
.donate:hover{
    
    color: gold;
    font-weight: bold;
}
.copyright{
    color: white;
    text-align: center;
    padding-top: 15px;
    width: 800px;
    float: left;
    font-size: 13px;
    line-height: 20px;
}

.family{
    width: 200px;
    background: royalblue;
    float: left;
    /* height: 100px; */
    text-align: center;
    padding: 35px 0;
}
.family select{
    width: 120px;
    text-align: center;
    
    height: 30px;
}
#popup{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}
.pop{
    background: white;
    border: 2px solid blue;
    border-radius: 15px;
    width: 600px;
    height: 400px;
    position: relative;
    /* top: calc(50% - 200px);
    left: calc(50% - 300px); */
    top: 50%;
    left: 50%;
    text-align: center;
    padding: 0 10px;
    transform: translate(-50%, -50%);
}
.pop h3{
    padding-top: 20px;
    text-align: left;
}
.close{
    width: 120px;
    line-height: 30px;
}
.pop p{
    
    text-align: left;
    height: 200px;
    font-size: 15px;
}
footer{height: 100px; background: royalblue;}