@charset "utf-8";

body{color: #333;}
*{margin: 0; padding: 0;}
.cf:after{content: ""; display: block; clear: both;}
img{display: block; border: 0;}
li{list-style: none;}
a{
    text-decoration: none;
    color: inherit;
    display: block;
}
header{
    /* width: 100%; */
    background: lightcyan;
    height: 100px;
}
#header{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    background: deepskyblue;
    
}
.logo{
    width: 200px;
    padding: 30px 0;
    float: left;
}
nav{
    width: 1000px;
    float: left;
    height: 100px;
    position: relative;
}
.menu{
    position: absolute;
    top: 60px;
    left: 380px;
    width: 600px;
    z-index: 3;
    
}
.menu li{
    width: 150px;
    float: left;
}
.menu a{
    background: lime;
    text-align: center;
    line-height: 40px;
    transition: 0.3s;
}
/* .menu:hover .sub{
    display: block;
} */
.menu >li:hover >a{
    background: yellow;
}
.sub >li:hover >a{
    background: coral;
}
.sub{
    display: none;
}
.sub a{background: limegreen; line-height: 35px; transition: 0.3s;}
.nav_back{
    width: 1200px;
    height: 160px;
    /* margin: 0 auto; */
    position: absolute;
    top: 100px;
    background: limegreen;
    display: none;
    z-index: 2;
}
#slide{
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
}
#slide ul{
    animation: slide 9s infinite;
}
@keyframes slide {
    0%{margin-top: 0; opacity: 0;}
    5%{margin-top: 0; opacity: 1;}
    28%{margin-top: 0; opacity: 1;}
    33%{margin-top: 0; opacity: 0;}
    33.3333%{margin-top: -300px; opacity: 0;}
    38%{margin-top: -300px; opacity: 1;}
    61%{margin-top: -300px; opacity: 1;}
    66%{margin-top: -300px; opacity: 0;}
    66.6666%{margin-top: -600px; opacity: 0;}
    71%{margin-top: -600px; opacity: 1;}
    95%{margin-top: -600px; opacity: 1;}
    100%{margin-top: -600px; opacity: 0;}
}
#content{
    width: 1200px;
    height: 200px;
    margin: 0 auto;
}
section{
    width: 380px;
    height: 180px;
    background: turquoise;
    float: left;
    padding: 10px;
}
#content h3{
    line-height: 29px;
    text-align: center;
    border-bottom: 1px #333 solid;
}
.notice a{
    padding:0 10px;
    line-height: 25px;
    height: 25px; /* cf 대체 */
    transition: 0.3s;
}
.notice a:hover{background: gold;}
.list{
    float: left;
    width: 260px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.date{
    float: left;
    width: 100px;
    text-align: right;
}

.gallery img{width: 100px; height: 100px;}
.gallery li{
    float: left; transition: 0.3s;
    overflow: hidden;
    width: 120px;
    height: 140px;
}
.gallery img{
    padding: 20px 0 20px 20px;
    transition: 0.3s;
    
}
.ht{
    transform: translate(50px , 50px);
    color: white;
    transition: 0.3s;
}
/* .gallery li:hover{
    opacity: .6;
} */
.gallery li:hover .ht{
    transform: translate(50px , -100px);
}
.daum{
    transition: 0.4s;
    transform: translate(50px , 50px);
    color: white;
}
.gallery li:hover .daum{
    transform: translate(50px , -100px);
}
.gallery li:hover .google{
    transform: translate(50px , -100px);
}
.google{
    transition: 0.5s;
    transform: translate(50px , 50px);
    color: white;
}
.shotcut img{width: 100px; height: 100px;}
.shotcut li{float: left;}
.shotcut a{
    padding: 25px 0 0 15px;
    transition: 0.3s;
    text-align: center;
    font-size: 15px;
}
.shotcut a:hover{opacity: .6;}
footer{
    /* width: 100%; */
    height: 100px;
    background: lightcyan;
}
#footer{
    background: deepskyblue;
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}
.copyright{
    width: 1000px;
    /* height: 100px; */
    float: left;
    text-align: center;
    line-height: 20px;
    padding: 10px 0;
    font-size: 13px;
}
.f_right{
    width: 200px;
    height: 100px;
    float: left;
}
.sns{
    width: 180px;
    height: 50px;
    background:powderblue;
    padding: 0 10px;
}
.sns img{
    width: 40px;
}
.sns a{
    display: inline-block;
    margin: 5px 10px;
    transition: 0.3s;
}
.sns a:hover{
    opacity: .6;
}
.family{
    width: 200px;
    
    background: powderblue;
    text-align: center;
    padding: 9px 0;
}
.family select{
    width: 120px;
    height: 32px;
}
#popup{
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0, .6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    display: none;         
}
.pop{
    background: white;
    border: 3px solid blue;
    border-radius: 15px;
    width: 600px;
    height: 400px;
    text-align: center;
    position: relative;
    top: calc(50% - 200px);
    left: calc(50% - 300px);
    
}
.pop h3{
    line-height: 40px;
}
.pop p{
    padding: 0 10px;
    text-align: left;
    height: 250px;
}
.close{
    width: 120px;
    line-height: 40px;
}
